.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselViewport {
  width:500px;
  height:500px;
  position: relative;
  overflow: hidden;
}
.carousel {
  list-style: none;
  display: flex;
  padding: 0;
}

.slide {
  width: 500px;
  height:500px;
  background: rebeccapurple;
  font-size: 20px;
  color: black;

  &:nth-child(1) {
    background: lavender;
  }
  &:nth-child(3) {
    background: lightgreen;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 25px;
}

.button {
  color: white;
}
